@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Taviraj:wght@600;700&family=Tinos:wght@700&display=swap');
.btn {
    font-family: Cantarell;
    font-weight: 500;
    color: #ffffff;
    font-size: 13px;
    padding: 4px 38px;
    text-decoration: none;
}

.btn-border-white {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    border: 1px solid #ffffff;
}
.btn-border-green {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    border: 1px solid #35705a;
}
.border-box {
    background: linear-gradient(
        125.29deg,
        #fb9f89 3.2%,
        #6f3729 28.87%,
        #6fd1ac 64%,
        #004028 96.89%
    );
}
.black {
    color: rgba(0, 0, 0, 0.65);
}
.black1 {
    color: rgba(0, 0, 0, 0.61);
}
.square-gradient {
    background: linear-gradient(
        242.15deg,
        #c4c4c4 0.45%,
        #ebfdd4 43.1%,
        #f1fee2 64.22%,
        #c5c5c5 99.55%
    );
}
.footer {
    background: rgb(255, 255, 255, 0.1);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.placeABid {
    background: rgba(239, 248, 228, 0.7);
    width: 376.96px;
    height: 380px;
}
.modal-css {
    background: rgba(66, 208, 157, 0.5);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
